
<header class="bg_linear">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <!-- <a class="navbar-brand" routerLink="/home"><img src="../../../../assets/images/header_icons/header-logo.svg" alt=""></a> -->
      <button class="aside_toggler" (click)="toggleAside()" [class.is_toggle]="AsideToggler">
        <i class="fa-solid fa-angle-left"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <!-- <li class="nav-item mobile_view">
            <a class="nav-link active" aria-current="page" routerLink="/home"><img src="../../../../assets/images/header_icons/footer_logo.svg" alt=""></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
             <span></span>
            </button>
          </li> -->
          <!-- <li class="nav-item">
            <a class="nav-link" routerLink="/blogs">Blogs</a>
          </li> -->
          <li class="nav-item">
            <div class="dropdown profile_list">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="../../../../assets/images/patner_logo/logo-1.jpg" alt="">
                <span>Shehzad Amin</span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="#">View Profile</a></li>
                <li><a class="dropdown-item" href="#">Log Out</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
