
<header class="bg_linear">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
      <a class="navbar-brand" routerLink="/home"><img src="../../../../assets/images/header_icons/header-logo.svg" alt=""></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span></span>
          <span></span>
          <span></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item mobile_view">
            <a class="nav-link active" aria-current="page" routerLink="/home"><img src="../../../../assets/images/header_icons/footer_logo.svg" alt=""></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
             <span></span>
            </button>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/blogs">Blogs</a>
          </li>
        </ul>
          <a routerLink="/contact" class="btn btn_brand">Get Started</a>
      </div>
    </div>
  </nav>
</header>
