/*--------------*\
    Base
\*--------------*/
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
.col-md-4{
  padding: 0 10px;
}
body {
  font-family: $main-font-family;
  font-size: $body--main-font;
  color: $body-main-color;
  font-weight: $body-main-font-weight;
  position: relative;
  z-index: -2;
  line-height: 1.7rem;
}
.banner{
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.banner_half{
  height: 50vh;
  position: relative;
  &:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(137, 134, 192,0.8);
  }
}
@include grid-xxxl {
   .container{
    max-width: 1550px;
   }
 }
 h1,h2,h3,h4{
  color:  #4d4d4d;
 }
h1,h2,h3,h4,h5,h6,p{
  margin-bottom: 0;
}
p{
  margin-bottom: 0;
  color: #5C677D;
}
ul{
  padding-left: 0;
  margin-bottom: 0;
}
a{
  //color: $white;
  display: inline-block;
  text-decoration: none;
  &:hover{
    text-decoration: none;
    color: #92C93E;
  }
}
.primary_font{
  font-size: $body-primary-font;
}
.secondrey_font{
  font-size: $body-secondrey-font;
}
h1{
  font-size: $size-1;
  font-weight: 900;
  @include grid-md-down {
    font-size: 30px;
  }
}
h2{
  font-size: $size-2;
  font-weight: 900;
  @include grid-md-down {
    font-size: 26px;
  }
}
h3{
  font-size: $size-3;
  font-weight: 800;
  @include grid-md-down {
    font-size: 23px;
  }
}
h4{
  font-size: $size-4;
  font-weight: 800;
}
.bg_green{
  background-color: #92C93E;
}
.bg_purple{
  background-color: #8986C0;
}
.text_green{
  color: #92C93E;
}
.bg_linear{
  background: linear-gradient(237.31deg, #7BCD75 0%, #77C1C4);
}
.text_purpe{
  color: #8986C0;
}
.sub_title{
  color: #5C677D;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2px;
  margin-bottom: 2px;
}
.section{
  padding: 80px 0;
  @include grid-md-down {
    padding: 40px 0;
  }
}
.section_bg{
  background-image: url('../../assets/images/banner-gif/section-bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
