<main>
    <section class="section_banner banner">
         <!-- <div class="banner_info">
             <div class="banner_bg">
                <img src="../../../../assets/images/banner-2d/banner-bg.png" alt="">
                <img src="../../../../assets/images/banner-2d/banner_icon.webp" alt="" class="banner_icon">
             </div>
         </div> -->
         <div class="container h-100">
             <div class="row h-100 align-items-center">
                <div class="col-md-6">
                    <small class="sub_title">Marketing & Development</small>
                    <h1>Digital Marketing & Development </h1>
                    <p class="mt-md-4 mt-3">Are you ready to grow your business by increasing your leads or revenue? Contact us today for a free consultation.  </p>
                     <div class="d-flex align-items-center mt-md-3 mt-2">
                        <button class="btn btn_brand">View Portfolios</button>
                        <span class="d-flex mx-4">||</span>
                        <button class="btn btn_brand">Read More</button>
                     </div>
                </div>
             </div>
         </div>
    </section>
    <section class="section_about section">
        <div class="container">
            <div class="row align-items-center">
                <h2 class="mb-3">Why Choose Us</h2>
                 <div class="col-md-4">
                      <ul class="about_info">
                         <li class="about_info_item">
                            <span class="bg_linear"><h5>1</h5></span>    
                            <h3>Expert Team</h3>     
                            <p>We are having expert team for each process of development that helps us to achieve what you desires.</p>
                         </li>
                         <li class="about_info_item">
                            <span class="bg_linear"><h5>02</h5></span>    
                            <h3>100% Satisfaction</h3>     
                            <p>Customer Satisfaction is our first priority that encourage our clients to keep in touch with us and let us know ehat they need.</p>
                         </li>
                         <li class="about_info_item">
                            <span class="bg_linear"><h5>03</h5></span>    
                            <h3>Quality designing</h3>     
                            <p>IT.Pixel specialises in cost effective, market oriented and valuable website designs meeting international standards.</p>
                         </li>
                      </ul>
                 </div>
                 <div class="col-md-8">
                    <img class="img-fluid" src="../../../../assets/images/site-images/about.jpg" alt="">
                 </div>
            </div>
        </div>
    </section>

    <section class="section_b_tabs section section_bg">
         <div class="container">
            <div class="row">
                 <div class="col-md-4">
                    <div class="tab_links nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist"         aria-orientation="vertical">
                        <button class="nav-link active" id="v-pills-seo-tab" data-bs-toggle="pill" data-bs-target="#v-pills-seo" role="tab" aria-controls="v-pills-seo" aria-selected="true">Search Engine Optimization</button>
                        <button class="nav-link" id="v-pills-local-seo-tab" data-bs-toggle="pill" data-bs-target="#v-pills-local-seo" type="button" role="tab" aria-controls="v-pills-local-seo" aria-selected="false">Local Business SEO</button>
                        <button class="nav-link" id="v-pills-ppc-managment-tab" data-bs-toggle="pill" data-bs-target="#v-pills-ppc-managment" type="button" role="tab" aria-controls="v-pills-ppc-managment" aria-selected="false">PPC Management</button>
                        <button class="nav-link" id="v-pills-Reputation-managment-tab" data-bs-toggle="pill" data-bs-target="#v-pills-Reputation-managment" type="button" role="tab" aria-controls="v-pills-Reputation-managment" aria-selected="false">Reputation Management Services</button>
                        <button class="nav-link" id="v-pills-google-marketing-tab" data-bs-toggle="pill" data-bs-target="#v-pills-google-marketing" type="button" role="tab" aria-controls="v-pills-google-marketing" aria-selected="false">Google Maps Marketing</button>
                        <button class="nav-link" id="v-pills-social-media-tab" data-bs-toggle="pill" data-bs-target="#v-pills-social-media" type="button" role="tab" aria-controls="v-pills-social-media" aria-selected="false">Social Media Management </button>
                        <button class="nav-link" id="v-pills-page-optimization-tab" data-bs-toggle="pill" data-bs-target="#v-pills-page-optimization" type="button" role="tab" aria-controls="v-pills-page-optimization" aria-selected="false">On-Page Optimization</button>
                        <button class="nav-link" id="v-pills-website-design-tab" data-bs-toggle="pill" data-bs-target="#v-pills-website-design" type="button" role="tab" aria-controls="v-pills-website-design" aria-selected="false">Website Design</button>
                    </div>
                 </div>
                 <div class="col-md-8">
                    <div class="tab-content ps-md-5 ps-0" id="v-pills-tabContent">
                        <div class="tab-pane fade show active" id="v-pills-seo" role="tabpanel" aria-labelledby="v-pills-seo-tab">
                            <div class="tab_thumb">
                                <img src="../../../../assets/images/site-images/seo.webp" class="img-fluid" alt="">
                            </div>
                            <div class="tab_info">
                                <h3>Search Engine <span class="text_brand">Optimization</span></h3>
                                <p>Over 80% of all buying decisions starting with a search on Google, Bing, or another search engine. Can your brand afford to sit back while the competition takes advantage of <a href="">this</a>?</p>
                                <p>On average, 68% of clicks belong to the first three results with less than 3% of traffic ever clicking through to page #2.</p>
                                <button class="btn btn_brand">Learn More</button>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="v-pills-local-seo" role="tabpanel" aria-labelledby="v-pills-local-seo-tab">
                            <div class="tab_thumb">
                                <img src="../../../../assets/images/site-images/local-business.webp" class="img-fluid" alt="">
                            </div>
                            <div class="tab_info">
                                <h3>Local Business <span class="text_brand">SEO</span></h3>
                                <p>Search engine optimization is a critical component to any digital marketing strategy, but if you run a local business you also need to consider <a href="">localized SEO</a> services that can bring you hyper-targeted traffic right to your front door.</p>
                                <button class="btn btn_brand">Learn More</button>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="v-pills-ppc-managment" role="tabpanel" aria-labelledby="v-pills-ppc-managment-tab">
                            <div class="tab_thumb">
                                <img src="../../../../assets/images/site-images/ppc-management.webp" class="img-fluid" alt="">
                            </div>
                            <div class="tab_info">
                                <h3>PPC <span class="text_brand">Management</span></h3>
                                <p>SFew digital marketing strategies have the potential to yield immediate ROI and scale in the way that <a href="">pay per click (PPC) management</a>  services do. Our talented PPC optimization team can help devise, launch and optimize a PPC</p>
                                <button class="btn btn_brand">Learn More</button>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="v-pills-Reputation-managment" role="tabpanel" aria-labelledby="v-pills-Reputation-managment-tab">
                            <div class="tab_thumb">
                                <img src="../../../../assets/images/site-images/reputation.webp" class="img-fluid" alt="">
                            </div>
                            <div class="tab_info">
                                <h3>Reputation Management <span class="text_brand">Services</span></h3>
                                <p>In today's hyper-competitive landscape, few things can impact business as much as your reputation. That means having the ability to <a href="">control and narrate</a> your brand's story in the way to effectively earn trust and establish authority.</p>
                                <button class="btn btn_brand">Learn More</button>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="v-pills-google-marketing" role="tabpanel" aria-labelledby="v-pills-google-marketing-tab">
                            <div class="tab_thumb">
                                <img src="../../../../assets/images/site-images/google-map.webp" class="img-fluid" alt="">
                            </div>
                            <div class="tab_info">
                                <h3>Google Maps <span class="text_brand">Marketing</span></h3>
                                <p>Few mediums can beat Google Maps or Google My Business (GMB) listings when it comes to local marketing. GMB properties are responsible for the majority of phone calls and walk-ins directly to local businesses. With competition in local markets heating up, optimizing and ranking these properties takes specialized knowledge along with careful strategy and implementation. We’ll help you claim and rank your GMB listing, driving laser focused localized traffic to your site and in your doors.</p>
                                <button class="btn btn_brand">Learn More</button>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="v-pills-social-media" role="tabpanel" aria-labelledby="v-pills-social-media-tab">
                            <div class="tab_thumb">
                                <img src="../../../../assets/images/site-images/social-media.webp" class="img-fluid" alt="">
                            </div>
                            <div class="tab_info">
                                <h3>Social Media <span class="text_brand">Management</span></h3>
                                <p>Second only to Google, <a href="">social media</a> is a powerhouse of a marketing tool that can be leveraged to drive performance at your business. It’s a safe and effectively, powerful medium to promote your brand when utilized properly. Consumers on both the B2C and B2B spectrum now expect your brand to have a well-maintained social presence. Digital Engage will help you grow your audience and manage platforms so that your able to interact with prospects and customers in real time.</p>
                                <button class="btn btn_brand">Learn More</button>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="v-pills-page-optimization" role="tabpanel" aria-labelledby="v-pills-page-optimization-tab">
                            <div class="tab_thumb">
                                <img src="../../../../assets/images/site-images/page-optimization.webp" class="img-fluid" alt="">
                            </div>
                            <div class="tab_info">
                                <h3>On-Page <span class="text_brand">Optimization</span></h3>
                                <p>In 2018 and beyond, having a website isn’t enough. That website must be optimized to improve ranking, provide an excellent customer experience, and drive action (i.e. sales, clicks, and leads). Your website is your best employee, available 24/7/365. Let us help make sure it’s operating at peak performance, driving the results your brand expects and deserves.</p>
                                <button class="btn btn_brand">Learn More</button>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="v-pills-website-design" role="tabpanel" aria-labelledby="v-pills-website-design-tab">
                            <div class="tab_thumb">
                                <img src="../../../../assets/images/site-images/webside-design.webp" class="img-fluid" alt="">
                            </div>
                            <div class="tab_info">
                                <h3>Website <span class="text_brand">Design</span></h3>
                                <p>Is your brand in need of a <a href="">website or web design update?</a> Digital Engage can help design a website for your company that effectively communicates your brand’s mission, values, benefits and connects with your audience while driving sales and growth. We have the experience to bring your vision to life, captivating specific target audiences with the experience you desire.</p>
                                <button class="btn btn_brand">Learn More</button>
                            </div>
                        </div>
                      </div>
                 </div>
            </div>
         </div>
    </section>
</main>