<section class="section_banner banner">
  <!-- <div class="banner_info">
      <div class="banner_bg">
         <img src="../../../../assets/images/banner-2d/banner-bg.png" alt="">
         <img src="../../../../assets/images/banner-2d/banner_icon.webp" alt="" class="banner_icon">
      </div>
  </div> -->
  <div class="container h-100">
      <div class="row h-100 align-items-center">
         <div class="col-md-6">
             <small class="sub_title">Marketing & Development</small>
             <h1>Digital Marketing & Development </h1>
             <p class="mt-md-4 mt-3">Are you ready to grow your business by increasing your leads or revenue? Contact us today for a free consultation.  </p>
              <div class="d-flex align-items-center mt-md-3 mt-2">
                 <button class="btn btn_brand">View Portfolios</button>
                 <span class="d-flex mx-4">||</span>
                 <button routerLink="/about" class="btn btn_brand">Read More</button>
              </div>
         </div>
      </div>
  </div>
</section>
<app-case-studies></app-case-studies>
<app-services></app-services>
<app-why-choose-us></app-why-choose-us>
<app-projects></app-projects>
<app-development-process></app-development-process>
<app-blog></app-blog>
<app-testimonials></app-testimonials>
