<section class="section_process section">
  <div class="container">
    <h2 class="mb-2 text-center">Our Web Design Process</h2>
    <p class="mb-3 w-50 mx-auto text-center">With our years of experience in web design and development, we have perfected our process to ensure that our clients are happy with the end result.</p>

    <div class="process_main">
      <div *ngFor="let step of processSteps" class="process_item">
        <div class="process_box">
          <div class="process_info">
            <h4>{{ step.title }}</h4>
            <p>{{ step.description }}</p>
          </div>
          <span class="process_design">{{ step.id }}</span>
        </div>
      </div>
    </div>
  </div>
</section>
