<div class="banner_component banner">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
           <div class="col-md-7">
               <small class="sub_title">ABOUT US</small>
               <h1>We believe in building <br> high value</h1>
               <p class="mt-md-4 mt-3">We connect, explore, create, empower and grow together.</p>
               <button class="btn btn_brand mt-md-3 mt-2">Contact Us</button>
           </div>
           <div class="col-md-5">
              <div class="banner_filter">
                <h4 class="mb-md-4 mb-3">Have a specific inquiry?</h4>
                 <form action="">
                        <div class="row mb-3">
                          <div class="col-md-6">
                            <div class="input-group">
                              <span class="input-group-text" id="name"><i class="fa-regular fa-user"></i></span>
                              <input type="text" class="form-control" placeholder="Enter Your Name" aria-label="Username" aria-describedby="name">
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="input-group">
                              <span class="input-group-text" id="email"><i class="fa-regular fa-envelope"></i></span>
                              <input type="email" class="form-control" placeholder="Enter Your Email" aria-label="Username" aria-describedby="email">
                            </div>
                          </div>
                          </div>
                          <div class="input-group mb-3">
                            <span class="input-group-text" id="number"><i class="fa-solid fa-mobile-screen"></i></span>
                            <input type="text" class="form-control" placeholder="Enter Your Phone Number" aria-label="Username" aria-describedby="number">
                          </div>
                          <div class="input-group mb-3">
                            <span class="input-group-text" id="subject"><i class="fa-solid fa-pen"></i></span>
                            <input type="text" class="form-control" placeholder="Write Subject" aria-label="Username" aria-describedby="subject">
                          </div>
                          <div class="mb-3">
                            <textarea class="form-control" placeholder="Message" rows="5"></textarea>
                          </div>
                          <div class="">
                            <select class="form-select" aria-label="Default select example">
                                <option selected>Open this select menu</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                          </div>
                          <div class="text-end">
                            <button class="btn btn_brand mt-md-4 mt-3 ms-auto">Submit Form</button>
                          </div>
                 </form>
              </div>
           </div>
        </div>
    </div>
</div>
