@mixin white-gradient {
	background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
}

$animationSpeed: 10s;

// Animation
@keyframes scroll {
	0% { transform:  translateX(0);}
	100% { transform:  translateX(calc(-516.3px * 5));}
  // 0% { transform:  translateX(0);}
}
// Styling
.slider_ltr {
 padding: 30px 10px;
	margin: auto;
	overflow:hidden;
	position: relative;
	width: 100%;
  .client_info{
    background-color: white;
    border-radius: 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 30px 20px;
    margin: 0 10px;
    .client_header{
      margin-bottom: 20px;
    }
    .client_description{
      margin-bottom: 15px;
    }

  }

	&::before,
	&::after {
		@include white-gradient;
		content: "";
		height: 100%;
		position: absolute;
		width: 500px;
		z-index: 2;
	}

	&::after {
		right: 0;
		top: 0;
		transform: rotateZ(180deg);
	}

	&::before {
		left: 0;
		top: 0;
	}

	.slide-track {

		display: flex;
		width: calc(516.3px * 5);
	}

	.slide {
    animation: scroll $animationSpeed linear infinite;
		height: fit-content;
		width: 516.3px;
	}
}

