<section class="section_client_slider section">
    <div class="container">
        <div class="row">
          <div class="slider_ltr">
            <div class="slide-track">
              <div class="slide">
                <!-- <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/1.png" height="100" width="250" alt="" /> -->

                <div class="client_info">
                    <div class="client_header d-flex align-items-center justify-content-between">
                        <div class="renk d-flex align-items-center">
                           <span>1</span>
                           <span>1</span>
                           <span>1</span>
                        </div>
                        <div class="upw_logo">
                          <img src="../../../../assets/images/site-images/upwork-logo.svg" alt="">
                        </div>
                    </div>
                    <div class="client_description">
                       <p>At first, I wondered if the heavy use of technology might actually hamper their effectiveness, but my concerns were unfounded.</p>
                    </div>
                    <div class="client_details">
                         <h4>Shehzad Amin</h4>
                         <p>Web developer_board</p>
                    </div>
                </div>
              </div>
              <div class="slide">
                <!-- <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/1.png" height="100" width="250" alt="" /> -->

                <div class="client_info">
                    <div class="client_header d-flex align-items-center justify-content-between">
                        <div class="renk d-flex align-items-center">
                           <span>1</span>
                           <span>1</span>
                           <span>1</span>
                        </div>
                        <div class="upw_logo">
                          <img src="../../../../assets/images/site-images/upwork-logo.svg" alt="">
                        </div>
                    </div>
                    <div class="client_description">
                       <p>At first, I wondered if the heavy use of technology might actually hamper their effectiveness, but my concerns were unfounded.</p>
                    </div>
                    <div class="client_details">
                         <h4>Shehzad Amin</h4>
                         <p>Web developer_board</p>
                    </div>
                </div>
              </div>
              <div class="slide">
                <!-- <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/1.png" height="100" width="250" alt="" /> -->

                <div class="client_info">
                    <div class="client_header d-flex align-items-center justify-content-between">
                        <div class="renk d-flex align-items-center">
                           <span>1</span>
                           <span>1</span>
                           <span>1</span>
                        </div>
                        <div class="upw_logo">
                          <img src="../../../../assets/images/site-images/upwork-logo.svg" alt="">
                        </div>
                    </div>
                    <div class="client_description">
                       <p>At first, I wondered if the heavy use of technology might actually hamper their effectiveness, but my concerns were unfounded.</p>
                    </div>
                    <div class="client_details">
                         <h4>Shehzad Amin</h4>
                         <p>Web developer_board</p>
                    </div>
                </div>
              </div>
              <div class="slide">
                <!-- <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/1.png" height="100" width="250" alt="" /> -->

                <div class="client_info">
                    <div class="client_header d-flex align-items-center justify-content-between">
                        <div class="renk d-flex align-items-center">
                           <span>1</span>
                           <span>1</span>
                           <span>1</span>
                        </div>
                        <div class="upw_logo">
                          <img src="../../../../assets/images/site-images/upwork-logo.svg" alt="">
                        </div>
                    </div>
                    <div class="client_description">
                       <p>At first, I wondered if the heavy use of technology might actually hamper their effectiveness, but my concerns were unfounded.</p>
                    </div>
                    <div class="client_details">
                         <h4>Shehzad Amin</h4>
                         <p>Web developer_board</p>
                    </div>
                </div>
              </div>
              <div class="slide">
                <!-- <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/1.png" height="100" width="250" alt="" /> -->

                <div class="client_info">
                    <div class="client_header d-flex align-items-center justify-content-between">
                        <div class="renk d-flex align-items-center">
                           <span>1</span>
                           <span>1</span>
                           <span>1</span>
                        </div>
                        <div class="upw_logo">
                          <img src="../../../../assets/images/site-images/upwork-logo.svg" alt="">
                        </div>
                    </div>
                    <div class="client_description">
                       <p>At first, I wondered if the heavy use of technology might actually hamper their effectiveness, but my concerns were unfounded.</p>
                    </div>
                    <div class="client_details">
                         <h4>Shehzad Amin</h4>
                         <p>Web developer_board</p>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
</section>
