aside{
  width: 250px;
  background-color: blue;
  height: 100%;
  transition: .2s;
  .dropdown_main{
   width: 100%;
   position: relative;
   .dropdown_toggler{
    width: 100%;
    border-radius: 0;
    background: transparent;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    font-weight: 900;
    color: #fff;
    padding: 7px 14px;
    width: 100%;
    &.is_active{
      background: linear-gradient(180deg, #FFFFFF 3.05%, #E7E7E7 94.51%) !important;
      color: #282828 !important;
    }
    &:hover{
      background: linear-gradient(180deg, #FFFFFF 3.05%, #E7E7E7 94.51%) !important;
     color: #282828 !important;
    }
    i{
      transition: .2s;
      &.is_active{
        transform: rotate(180deg);
      }
    }
   }
   ul{
    width:0;
    transition: .2s !important;
    position: absolute;
    top: 0;
    right: 0%;
    z-index: -1;
    list-style: none;
    &.show{
      right: -250px;
      width: 250px;
      z-index: 9;
      transition: .2s !important;
    }

    li{
      a{
        font-size: 10px;
        font-weight: 600;
        padding:10px;
        color: #fff;
        &:hover{
          background: linear-gradient(180deg, #FFFFFF 3.05%, #E7E7E7 94.51%) !important;
          color: #282828 !important;
        }
      }
    }
   }
   &.view_dropdown{
    .dropdown_toggler{
      font-size: 10px;
      font-weight: 900;
      padding: 7px 14px;
      color: white;
    }
    ul{
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      li{
        a{
          font-size: 10px;
          font-weight: 600;
          padding: 10px;
        }
      }
    }
   }
  }
  .aside_list{
    padding: 0;
    list-style: none;
    .aside_item{
      .dropdown_main{
        .dropdown_items{
          background-color: white;
          li{
            a{
              font-size: 10px;
              font-weight: 800;
              color: #fff;
              padding:3px 7px 0 10px;

            }
            &.is_active{
              background: linear-gradient(180deg, #FFFFFF 3.05%, #E7E7E7 94.51%) !important;
              a{
                color: #282828 !important;
              }
            }
            &:hover{
              background: linear-gradient(180deg, #FFFFFF 3.05%, #E7E7E7 94.51%) !important;
              color: #282828 !important;
            }
          }
        }
      }
      .aside_icon{
        display: inline-block;
        margin-right: 10px;
      }
      .aside_link{
        font-size: 12px;
        font-weight: 900;
        color: #fff;
        padding: 7px 14px;
        width: 100%;
        &.is_active{
          background: linear-gradient(180deg, #FFFFFF 3.05%, #E7E7E7 94.51%) !important;
          color: #282828 !important;
        }
        &:hover{
          background: linear-gradient(180deg, #FFFFFF 3.05%, #E7E7E7 94.51%) !important;
         color: #282828 !important;
        }
      }
    }
  }
}


.is_toggle{
  width: 80px;
   transition: .2s;
   .dropdown_main{
    .dropdown_toggler{
      position: relative;
      justify-content: center;
      margin-bottom: 10px;
      padding-top: 20px;
      padding-bottom: 20px;

      > i{
         position: absolute;
         right: 0;
         display: none;
      }
      .aside_text{
        .aside_icon{
          margin-right: 0;
          display: flex;
          i{
            font-size: 20px;
          }
        }
        .menulable{
          display: none;
        }
      }
    }
   }
   .aside_list{
    .aside_item{
      .aside_link{
        margin-bottom: 10px;
        padding-top: 20px;
        padding-bottom: 20px;
    ;
        .aside_icon{
          margin-right: 0;
          display: flex;
          justify-content: center;
          i{
            font-size: 20px !important;
          }
        }
        .menulable{
          display: none;
        }
      }
    }
   }
 }
