<aside class="bg_linear" [class.is_toggle]="isAsideActive">
  <ul class="aside_list">

    <li class="aside_item" *ngFor="let menu of asideMenu; let i = index">

      <ng-container *ngIf="menu.type === 'link'">
        <a [routerLink]="menu.link" class="aside_link"  (click)="toggleDropdown(i)" [class.is_active]="activeDropdown === i">
          <span class="aside_icon"><i class="{{ menu.icon }}"></i></span>
           <span class="menulable"> {{ menu.label }}</span>
        </a>
      </ng-container>

      <ng-container *ngIf="menu.type === 'dropdown'">
        <div class="dropdown_main">
          <button class="dropdown_toggler" (click)="toggleDropdown(i)" [class.is_active]="activeDropdown === i">
            <div class="aside_text">
              <span class="aside_icon"><i class="{{ menu.icon }}"></i></span>
              <span class="menulable">{{ menu.label }}</span>
            </div>
            <i [class.is_active]="activeDropdown === i" class="fa-solid fa-caret-right"></i>
          </button>
          <ul class="dropdown_items bg_linear" [class.show]="activeDropdown === i">
            <li *ngFor="let item of menu.items">
              <a class="dropdown-item" [routerLink]="item.link">{{ item.label }}</a>
            </li>
          </ul>
        </div>
      </ng-container>
    </li>
  </ul>

</aside>
