<aside class="bg_linear" [class.is_toggle]="isToggled">
  <div class="view_dropdown dropdown_main">
    <button class="dropdown_toggler">Check Out <i class="fa-solid fa-caret-down"></i></button>
    <ul class="dropdown_items bg_linear">
      <li><a class="dropdown-item" href="#">View Site</a></li>
      <li><a class="dropdown-item" href="#">View Dashboard</a></li>
    </ul>
  </div>
  <!-- <a class="nav-link active" aria-current="page" routerLink="/home"><img src="../../../../assets/images/header_icons/footer_logo.svg" alt=""></a> -->
  <ul class="aside_list">
    <li class="aside_item"><a routerLink="post" class="aside_link"><span class="aside_icon"><i class="fa-solid fa-signs-post"></i></span>Post</a></li>
    <li class="aside_item"><a href="" class="aside_link"><span class="aside_icon"><i class="fa-solid fa-file-arrow-up"></i></span>Pages</a></li>
  <li class="aside_item dropdown_main">
    <button class="dropdown_toggler is_active">Users Rolls<i class="fa-solid fa-caret-down"></i></button>
    <ul class="dropdown_items bg_linear show">
      <li><a class="dropdown-item" href="#">Add New User</a></li>
      <li><a class="dropdown-item" href="#">Administrator</a></li>
      <li><a class="dropdown-item" href="#">Users</a></li>
    </ul>
  </li>
  <li class="aside_item dropdown_main">
    <button class="dropdown_toggler">Our Team<i class="fa-solid fa-caret-down"></i></button>
    <ul class="dropdown_items bg_linear">
      <li><a class="dropdown-item" href="#">View Site</a></li>
      <li><a class="dropdown-item" href="#">View Dashboard</a></li>
    </ul>
  </li>
  <li class="aside_item dropdown_main">
    <button class="dropdown_toggler">Testimonials<i class="fa-solid fa-caret-down"></i></button>
    <ul class="dropdown_items bg_linear">
      <li><a class="dropdown-item" href="#">View Site</a></li>
      <li><a class="dropdown-item" href="#">View Dashboard</a></li>
    </ul>
  </li>
    <!-- <li class="aside_item"><a href="" class="aside_link is_active"><span class="aside_icon"></span>Users</a></li>
    <li class="aside_item"><a href="" class="aside_link is_active"><span class="aside_icon"></span>Pages</a></li>
    <li class="aside_item"><a href="" class="aside_link is_active"><span class="aside_icon"></span>Pages</a></li>
    <li class="aside_item"><a href="" class="aside_link is_active"><span class="aside_icon"></span>Pages</a></li>
    <li class="aside_item"><a href="" class="aside_link is_active"><span class="aside_icon"></span>Pages</a></li>
    <li class="aside_item"><a href="" class="aside_link is_active"><span class="aside_icon"></span>Pages</a></li> -->
  </ul>

</aside>
