.section_about{
  .about_info{
      list-style: none;
      .about_info_item{
          position: relative;
          padding-left: 80px;
          padding-bottom: 50px;
          border-right: 1px solid #8986c03d;
          h3{
              margin-bottom: 6px;
          }
          &:before{
              content: "";
              position: absolute;
              right: 0;
              bottom: 0;
              width: calc(100% - 80px);
              height: 1px;
              background-color: #8986c03d;
          }
          span{
              position: absolute;
              top: 0;
              left: 0;
              width: 60px;
              height: 60px;
              border-radius: 50%;
              display: flex;
              justify-content: center;
              align-items: center;
              color: white;
          }
          + .about_info_item{
              padding-top: 50px;
              span{
                  top: 50px;
              }
          }
          &:last-of-type{
              &:before{
                  background-color: transparent;
              }
          }
      }
  }
  img{
      filter: grayscale(1);
      &:hover{
          filter: grayscale(0);
      }
  }
}
