<section class="section_about section">
  <div class="container">
      <div class="row align-items-center">
          <h2 class="mb-5">Why Choose Us</h2>
           <div class="col-md-4">
                <ul class="about_info">
                   <li class="about_info_item">
                      <span class="bg_linear"><h5>1</h5></span>
                      <h3>Expert Team</h3>
                      <p>We are having expert team for each process of development that helps us to achieve what you desires.</p>
                   </li>
                   <li class="about_info_item">
                      <span class="bg_linear"><h5>02</h5></span>
                      <h3>100% Satisfaction</h3>
                      <p>Customer Satisfaction is our first priority that encourage our clients to keep in touch with us and let us know ehat they need.</p>
                   </li>
                   <li class="about_info_item">
                      <span class="bg_linear"><h5>03</h5></span>
                      <h3>Quality designing</h3>
                      <p>IT.Pixel specialises in cost effective, market oriented and valuable website designs meeting international standards.</p>
                  </li>
                  <div class="">
                      <button routerLink="/about" class="btn btn_brand w-100">Read More</button>
                   </div>
                </ul>
           </div>
           <div class="col-md-8">
              <img class="img-fluid" src="../../../../assets/images/site-images/about.jpg" alt="">
           </div>
      </div>
  </div>
</section>
