<section class="section_pages">
   <div class="container-fluid">
       <div class="row">
          <div class="col-12">
            <h4 class="mb-3">Pages Content</h4>
              <div class="page_item">
                  <div class="page_box">
                      <h5>Home Screen Content</h5>
                      <div class="page_actions">
                         <button class="btn btn-success btn-sm" href=""><i class="fa-solid fa-pen-to-square"></i></button>
                         <button class="btn btn-primary btn-sm ms-2" href=""><i class="fa-solid fa-link"></i></button>
                      </div>
                  </div>
              </div>
              <div class="page_item">
                <div class="page_box">
                    <h5>Blog Screen Content</h5>
                    <div class="page_actions">
                       <button class="btn btn-success btn-sm" href=""><i class="fa-solid fa-pen-to-square"></i></button>
                       <button class="btn btn-primary btn-sm ms-2" href=""><i class="fa-solid fa-link"></i></button>
                    </div>
                </div>
            </div>
          </div>
       </div>
   </div>
</section>
