<main>
    <!-- <section class="section_details banner_half">
        <img src="../../../../assets/images/banner-2d/banner-bg.png" alt="image0-title" class="img-fluid">
        <div class="container h-100">
          <div class="row h-100 align-items-center">
            <div class="col-md-7">
              <small class="sub_title">PROJECT DETAILS</small>
              <h1>Project Title One</h1>
            </div>
          </div>
        </div>
      </section> -->
      <section class="section_project_content">
           <div class="project_list">

                <h3>Here Is a Project Details</h3>

                 <div class="project_item">
                      <img class="img-fluid" src="../../../../assets/images/site-images/project-1.jpg" alt="">
                      <a href="">Student Console - Website</a>
                 </div>



                 <div class="button_toggler" click="getList()">
                     >
                 </div>
           </div>
            <div class="project_main">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <img src="../../../../assets/images/project-detail/project-1.png" class="w-100 img-fluid" alt="">

                        </div>
                    </div>
             </div>
            </div>
      </section>
</main>