<footer class="bg_linear">
     <div class="container">
        <div class="row">
             <div class="col-md-3">
                 <a href="" class="footer_logo"><img src="../../../../assets/images/header_icons/footer_logo.svg" alt=""></a>
                 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
            <div class="col-md-3">
                <ul class="footer_nav">
                    <h4>Johnson City</h4>
                    <li><a href="">311 Lamont St,</a></li>
                    <li><a href="">Johnson City, TN 37604</a></li>
                    <li><a href="">Phone: 423-397-2467</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <ul class="footer_nav">
                    <h4>Johnson City</h4>
                    <li><a href="">311 Lamont St,</a></li>
                    <li><a href="">Johnson City, TN 37604</a></li>
                    <li><a href="">Phone: 423-397-2467</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <ul class="footer_nav">
                    <h4>Johnson City</h4>
                    <li><a href="">311 Lamont St,</a></li>
                    <li><a href="">Johnson City, TN 37604</a></li>
                    <li><a href="">Phone: 423-397-2467</a></li>
                </ul>
            </div>
        </div>
        <div class="patner_logos">
            <a href="" class="logo_item"><img src="../../../../assets/images/patner_logo/logo-1.jpg" alt=""></a>
            <a href="" class="logo_item"><img src="../../../../assets/images/patner_logo/logo-2.jpg" alt=""></a>
            <a href="" class="logo_item"><img src="../../../../assets/images/patner_logo/logo-3.jpg" alt=""></a>
            <a href="" class="logo_item"><img src="../../../../assets/images/patner_logo/logo-4.jpg" alt=""></a>
            <a href="" class="logo_item"><img src="../../../../assets/images/patner_logo/logo-5.jpg" alt=""></a>
        </div>
     </div>
</footer>
<div class="copy_right py-3 text-center bg_linear" style="border-top: 1px solid #8986c03d;">
    <p class="text-white" style="font-size: 14px;">Made By IT.Pixel 2024</p>
</div>