<section class="section_details banner_half">
  <img [src]="tabContent.image" class="img-fluid">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
       <div class="col-md-7">
           <small class="sub_title">Service Detail</small>
           <h1>{{tabContent.heading}}</h1>
       </div>
      </div>
    </div>
</section>

<section class="section_blog_content section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p *ngFor="let paragraph of tabContent.paragraphs">
          <span [innerHTML]="paragraph.descrption"></span>
      </p>
      </div>
    </div>
  </div>
</section>
