<!-- <div class="section section_case_studies">
   <div class="container">
    <h2 class="mb-2">Our Projects</h2>
    <p class="mb-3">We’re proud of the work we put in for our clients. Take a look at what these previous results could look like for you.</p>
    <div class="button-group">
      <button (click)="filterItems('*')">All Case Studies</button>
      <button (click)="filterItems('.category1')">Html & Css</button>
      <button (click)="filterItems('.category2')">Scss & Sass</button>
      <button (click)="filterItems('.category3')">Less</button>
      <button (click)="filterItems('.category4')">Bootstrap</button>
      <button (click)="filterItems('.category5')">Tailwind Css</button>
      <button (click)="filterItems('.category6')">Bulma Css</button>
      <button (click)="filterItems('.category7')">Php MySql</button>
      <button (click)="filterItems('.category8')">Laravel</button>
      <button (click)="filterItems('.category9')">Angular</button>
      <button (click)="filterItems('.category14')">Wix</button>
      <button (click)="filterItems('.category15')">WebFlow</button>
      <button (click)="filterItems('.category10')">Wordpress</button>
      <button (click)="filterItems('.category11')">Wordpress Builders</button>
      <button (click)="filterItems('.category12')">Wordpress Custom Theme Development</button>
      <button (click)="filterItems('.category13')">Wordpress Theme Customization</button>
    </div>

    <div class="grid">
      <div class="grid-item category1">
        <a class="case_thumb">
          <img src="../../../../assets/images/site-images/about.jpg" alt="">
       </a>
       <div class="case_Info">
          <a href=""><h3>Title Here</h3></a>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam, doloribus maiores! Ad aspernatur, vel illum placeat alias itaque aperiam iusto.</p>
         <a href="">Link Here</a>
       </div>
      </div>
      <div class="grid-item category2">
        <a class="case_thumb">
          <img src="../../../../assets/images/site-images/about.jpg" alt="">
       </a>
       <div class="case_Info">
          <a href=""><h3>Title Here</h3></a>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam, doloribus maiores! Ad aspernatur, vel illum placeat alias itaque aperiam iusto.</p>
         <a href="">Link Here</a>
       </div>
      </div>
    </div>
   </div>
</div> -->
<section class="section_case_studies section">
     <div class="container">
      <h2 class="mb-2">Case Studies</h2>
      <p class="mb-3">We’re proud of the work we put in for our clients. Take a look at what these previous results could look like for you.</p>
        <div class="row">
            <div class="col-md-4">
               <div class="case_item">
                <a class="case_thumb">
                    <img src="../../../../assets/images/site-images/case-1.jpg" alt="">
                </a>
                <div class="case_Info">
                  <h3>Mobile App Design</h3>
                    <a href="">View Case Study ⟶</a>
                </div>
               </div>
            </div>
            <div class="col-md-4">
              <div class="case_item">
               <a class="case_thumb">
                   <img src="../../../../assets/images/site-images/case-1.jpg" alt="">
               </a>
               <div class="case_Info">
                 <h3>Mobile App Design</h3>
                   <a href="">View Case Study ⟶</a>
               </div>
              </div>
           </div>
           <div class="col-md-4">
            <div class="case_item">
             <a class="case_thumb">
                 <img src="../../../../assets/images/site-images/case-1.jpg" alt="">
             </a>
             <div class="case_Info">
               <h3>Mobile App Design</h3>
                 <a href="">View Case Study ⟶</a>
             </div>
            </div>
         </div>
         <div class="col-md-4">
          <div class="case_item">
           <a class="case_thumb">
               <img src="../../../../assets/images/site-images/case-1.jpg" alt="">
           </a>
           <div class="case_Info">
             <h3>Mobile App Design</h3>
               <a href="">View Case Study ⟶</a>
           </div>
          </div>
       </div>
       <div class="col-md-4">
        <div class="case_item">
         <a class="case_thumb">
             <img src="../../../../assets/images/site-images/case-1.jpg" alt="">
         </a>
         <div class="case_Info">
           <h3>Mobile App Design</h3>
             <a href="">View Case Study ⟶</a>
         </div>
        </div>
     </div>
     <div class="col-md-4">
      <div class="case_item">
       <a class="case_thumb">
           <img src="../../../../assets/images/site-images/case-1.jpg" alt="">
       </a>
       <div class="case_Info">
         <h3>Mobile App Design</h3>
           <a href="">View Case Study ⟶</a>
       </div>
      </div>
   </div>
          <div class="text-center">
              <button class="btn btn_brand mt-md-5 mt-4">View More Case Studies</button>
          </div>

        </div>
     </div>
</section>
