.section_case_studies{
   .case_item{
    position: relative  ;
    overflow: hidden;
    margin-top: 20px;
       .case_thumb{
        width: 100%;
        height: 600px;
        img{
         width: 100%;
         height: 100%;
         object-fit: cover;
         object-position: top;
        }
      }
      .case_Info{
        position: absolute;
        top: 0;
        left: 0;
        padding: 25px;
        h3{
          color: white;
        }
        a{
          transition: .4s;
          opacity: 0;
          color: white;
          margin-top: 7px;
          display: block;
        }
      }
      &:hover{
        .case_Info{
          a{
            opacity: 1 !important;
          }
        }

      }
   }
}
