<section class="section_contact bg_banner">
  <app-banner-section></app-banner-section>
</section>
<app-why-choose-us></app-why-choose-us>
<section class="section_details section section_bg">
  <div class="container">
    <h2 class="mb-5 text-center">About Us</h2>
    <div class="row">
       <p>Digital Engage is a full-service digital marketing firm offering a broad range of online advertising services. We first started partnering with clients in 2011—so we have over eight years of experience helping businesses increase their online exposure. We believe in the power of the internet and its ability to help companies achieve exponential levels of growth.</p>
       <p>Many modern business owners are lagging behind the competition when it comes to digital marketing. We offer cutting-edge digital marketing strategies that utilize all critical online marketing channels. We specialize in helping businesses in the following sectors: medical, law, food services, education, home services, and technology.</p>
       <p>Our team offers SEO services, web design, social media management, paid search management, reputation management, and a host of other critical digital marketing services. We’re a one-stop-shop for all digital marketing tools.</p>
       <p>Our offices are in Nashville, Tennessee and Johnson City, Tennessee. This means we’re uniquely positioned to help clients in Nashville, Knoxville, and the Tri-Cities regions. We also partner with businesses around the country, having assisted both nationally and internationally within medical and tech organizations.</p>
       <p>We leverage our expertise to help our clients increase their revenue streams. It’s time to use an expert to improve your digital performance.</p>
      </div>
  </div>
</section>
 <section class="section_grid_column section">
     <div class="container">
        <div class="row align-items-center">
           <div class="col-md-6">
               <h3 class="mb-3">OUR VISION</h3>
               <p>At Digital Engage, our vision is a world where honest business owners have the tools that they need to employ effective digital marketing strategies. We’re continually striving to stay on the cutting-edge of technology. Our continuous search for improvement allows us to provide robust digital marketing services to our client base.</p>
           </div>
           <div class="col-md-6">
              <img src="../../../../assets/images/site-images/vision.webp" class="img-fluid" alt="">
           </div>
           <div class="col-md-6">
            <img src="../../../../assets/images/site-images/vision-1.webp" class="img-fluid" alt="">
         </div>
           <div class="col-md-6">
            <h3 class="mb-3">OUR MISSION</h3>
            <p>Our mission is to provide high-quality digital marketing services to every one of our clients. We’re passionate about connecting businesses with the right consumers. Understanding the power of the internet and how it can improve an organization’s success rate, we focus on building robust digital marketing platforms that yield organic results long into the future.</p>
            <p>As an organization, we’re acutely focused on providing real value to our customers. We’re heavily invested in the success of your business or organization.</p>
        </div>
        </div>
     </div>
 </section>
 <app-marketing-fields></app-marketing-fields>
 <app-testimonials></app-testimonials>
 <app-services></app-services>
 <app-other-services></app-other-services>
