.client_info{
  background-color: white;
  border-radius: 15px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 0px 9px 0px;
  padding: 30px 20px;
  .upw_logo{
    width: 70px;
  }
  .client_header{
    margin-bottom: 20px;
  }
  .client_description{
    margin-bottom: 15px;
  }
  .client_details{
    h4{
      font-size: 20px;
    }
    p{
      font-size: 14px;
    }
  }
}
owl-carousel-o{
  padding: 0;
}
::ng-deep .owl-stage-outer{
  padding: 20px 0;
  .owl-item {
    padding: 10px;
  }
}
::ng-deep .owl-nav{
  position: absolute;
  top: -42px;
  right: 16px;
}
