<section class="section_contact bg_banner">
  <app-banner-section></app-banner-section>
</section>
<section class="section_contact">
    <div class="container">
         <div class="row">
             <div class="col-12">
                 <div class="contact_form">
                  <form action="">
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <div class="input-group">
                                <span class="input-group-text" id="name"><i class="fa-regular fa-user"></i></span>
                                <input type="text" class="form-control" placeholder="Enter Your Name" aria-label="Username" aria-describedby="name">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <span class="input-group-text" id="email"><i class="fa-regular fa-envelope"></i></span>
                                <input type="email" class="form-control" placeholder="Enter Your Email" aria-label="Email" aria-describedby="email">
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="number"><i class="fa-solid fa-mobile-screen"></i></span>
                        <input type="text" class="form-control" placeholder="Enter Your Phone Number" aria-label="Phone Number" aria-describedby="number">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="subject"><i class="fa-solid fa-pen"></i></span>
                        <input type="text" class="form-control" placeholder="Write Subject" aria-label="Subject" aria-describedby="subject">
                    </div>
                    <div class="mb-3">
                        <textarea class="form-control" placeholder="Message" rows="5"></textarea>
                    </div>
                    <!-- <div class="">
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Open this select menu</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div> -->
                    <div class="text-end">
                        <button class="btn btn_brand mt-md-4 mt-3 ms-auto">Submit Form</button>
                    </div>
                </form>
                 </div>
             </div>
         </div>
    </div>
</section>
<section class="section_serve section">
<div class="container">
 <h2 class="mb-2">Who We Serve</h2>
<p class="mb-3">Support is only a click away. Find out more about how Digital Engage can help you.</p>
</div>
<div class="container-fluid p-0">
  <div class="row w-100">
    <owl-carousel-o [options]="customOptions">
      <ng-container *ngFor="let slide of Serve">
        <ng-template carouselSlide [id]="slide.id">
       <div class="card">
         <img  [src]="slide.src" [alt]="slide.alt" class="card-img-top">
         <div class="card-body">
           <h5>{{slide.name}}</h5>
           <p>{{slide.roll}}</p>
           <p>{{slide.description}}</p>
           <hr>
           <!-- Dynamically link to the details page based on the card's id -->
           <a href="">Read More ⟶</a>
         </div>
       </div>

        </ng-template>
      </ng-container>

    </owl-carousel-o>
  </div>
</div>
</section>
