.loader_overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999999999;
  .laoder{
    display: flex;
    justify-content: center;
    align-items: center;
    width: inherit;
    height: inherit;
    img{
      width: 100px;
      height: 100px;
      object-fit: contain;
      animation: loader 1s infinite linear;
    }
  }
  @keyframes loader {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}

.scroll_top{
  padding: 6px 15px !important;
   position: fixed;
    right: -100%;
    bottom: 0;
     z-index: 9999999;
     transition: .9s;
  &.show{
    right: 0;
  }
}













header{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  &.is-active {
    background-color: white;
    box-shadow: 0 4px 2px -2px rgba(128, 128, 128, 0.178);
    position: fixed;
    background-color: white;
    animation: slideDown 0.35s ease-out;
  }

@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

  nav{
    background-color: transparent;
  }
   .navbar-collapse{
    .nav-item{
      margin-right: 15px;
      .nav-link{
        font-size: 14px;
        font-weight: 900;
        color: #4d4d4d;
      }
    }
     .dropdown{
       position: unset !important;
       .dropdown-menu{
        left: 50%;
        top: 80px !important;
        transform: translateX(-50%);
        padding: 30px 10px 15px;
        border: 1px solid transparent;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          .dropdown_nav{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            + .dropdown_nav{
              margin-top: 30px;
            }
            li{
               width: 25%;
               margin-bottom: 15px;
               &.w-33{
                width: 33.33%;
              }

              a{
                padding:7px 5px !important;
                border-radius: 5px;
                display: flex;
                align-items: center;
                color: #4d4d4d;
                &:hover{
                  span{
                    background: linear-gradient(237.31deg, #6979FE 0%, #9F68FB) !important ;
                    i{
                      color: white;
                    }
                  }
                  .item_info{
                    margin-left: 30px;
                     h6{
                      color:#6F77FE !important;

                       &:after{
                        width: 14px !important;
                       }
                     }
                  }
                }
                &:active{
                  background-color: unset;
                  outline: none;
                  box-shadow: none;
                }
                span{
                  width: 50px;
                  height: 50px;
                  background-color: #f8f9fa;
                  display: flex;
                  border-radius: 50%;
                  justify-content: center;
                  align-items: center;
                  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
                  i{
                    font-size: 22px;
                  }
                }
                .item_info{
                  margin-left: 15px;
                  transition: .3s;
                  h6{
                    font-weight: 900;
                    position: relative;
                    &:after{
                      content: "";
                      position: absolute;
                      top: 50%;
                      left: -20px;
                      transform: translateY(-50%);
                      background: linear-gradient(237.31deg, #6979FE 0%, #9F68FB) !important;
                      width: 0;
                      height: 2px;
                      border-radius: 3px;
                      transition: all .3s;
                    }
                  }
                  p{
                    text-wrap: wrap;
                  }
                }
              }
            }
          }
       }
     }
     > a{
      padding-top: 4px !important;
      padding-bottom: 4px !important;
      font-size: 14px !important;
      font-weight: 700 !important;
     }
   }
}

@media screen and (max-width: 991px){
  .navbar-collapse{
    .nav-item{
      margin-right: 0 !important
      ;
      .nav-link{
        color: #fff !important;
      }
    }
    .dropdown{
      .dropdown-menu{
        transform: translateX(0) !important;
         .dropdown_nav{
          flex-flow: column;
          li{
            width: 100% !important;
            .w-33{
              width: 100%;
            }

          }
         }
      }
    }
  }
}
