<div class="loader_overlay bg_purple" *ngIf="is_loading">
   <div class="laoder"><img src="../../../../assets/images/loader-white.svg" alt=""></div>
</div>

<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="#"><img src="../../../../assets/images/header-logo.svg" alt=""></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Marketing Solution
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <div class="dropdown_nav">
                    <li>
                      <a class="dropdown-item" href="#">
                      <span><i class="fa-brands fa-searchengin"></i></span>
                        <div class="item_info">
                          <h6>SEO</h6>
                          <p>Renk Your Website Organically</p>
                        </div>
                      </a>
                      </li>
                      <li>
                      <a class="dropdown-item" href="#">
                      <span><i class="fa-solid fa-rectangle-ad"></i></span>
                      <div class="item_info">
                        <h6>Paid Search</h6>
                        <p>Get More Leads & Conversions</p>
                      </div>
                    </a>
                      </li>
                      <li>
                    <a class="dropdown-item" href="#">
                    <span><img src="../../../../assets/images/header_icons/seo.webp" alt=""></span>
                    <div class="item_info">
                      <h6>Social Media</h6>
                      <p>Build A Social Media Presenc</p>
                    </div>
                  </a>
                      </li>
                      <li>
                    <a class="dropdown-item" href="#">
                    <span><img src="../../../../assets/images/header_icons/seo.webp" alt=""></span>
                    <div class="item_info">
                      <h6>Reputation Management</h6>
                      <p>Keep Your Reputation Clean</p>
                    </div>
                  </a>
                    </li>
                  </div>
                  <div class="dropdown_nav">
                    <li>
                      <a class="dropdown-item" href="#">
                      <span><img src="../../../../assets/images/header_icons/seo.webp" alt=""></span>
                        <div class="item_info">
                          <h6>Branding & Logo</h6>
                          <p>Complete Branding For Rebranding</p>
                        </div>
                      </a>
                      </li>
                      <li>
                      <a class="dropdown-item" href="#">
                      <span><img src="../../../../assets/images/header_icons/seo.webp" alt=""></span>
                      <div class="item_info">
                        <h6>Website Hosting</h6>
                        <p>Host Your Website On Our Service</p>
                      </div>
                    </a>
                      </li>
                      <li>
                    <a class="dropdown-item" href="#">
                    <span><img src="../../../../assets/images/header_icons/seo.webp" alt=""></span>
                    <div class="item_info">
                      <h6>Web Support</h6>
                      <p>Support In Running Your Website</p>
                    </div>
                  </a>
                      </li>
                      <li>
                    <a class="dropdown-item" href="#">
                    <span><i class="fa-solid fa-map-location-dot"></i></span>
                    <div class="item_info">
                      <h6>Local Map SEO</h6>
                      <p>Renk Online In Your Area</p>
                    </div>
                  </a>
                    </li>
                  </div>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact US</a>
          </li>
        </ul>
          <a href="" class="btn btn_brand">Get Started</a>
      </div>
    </div>
  </nav>
</header>
