<div class="loader_overlay bg_linear" *ngIf="is_loading">
   <div class="laoder"><img src="../../../../assets/images/header_icons/loader-white.svg" alt=""></div>
</div>

<button class="scroll_top btn btn_brand"
(click)="scrollToTop()"
[class.show]="isVisible">
  <i class="fs-12 fa-solid fa-angles-up"></i>
</button>

<header [ngClass]="headerClass">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
      <a class="navbar-brand" routerLink="/home"><img src="../../../../assets/images/header_icons/header-logo.svg" alt=""></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/home">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Marketing Solution
            </a>
            <div class="dropdown-menu container" aria-labelledby="navbarDropdown">
                  <div class="dropdown_nav">
                    <li>
                      <a class="dropdown-item" routerLink="/seo">
                      <span><i class="fa-brands fa-searchengin"></i></span>
                        <div class="item_info">
                          <h6>SEO</h6>
                          <p>Renk Your Website Organically</p>
                        </div>
                      </a>
                      </li>
                      <li>
                      <a class="dropdown-item" routerLink="paid-search">
                      <span><i class="fa-solid fa-rectangle-ad"></i></span>
                      <div class="item_info">
                        <h6>Paid Search</h6>
                        <p>Get More Leads & Conversions</p>
                      </div>
                    </a>
                      </li>
                      <li>
                    <a class="dropdown-item" routerLink="social-media">
                    <span><i class="fa-solid fa-at"></i></span>
                    <div class="item_info">
                      <h6>Social Media</h6>
                      <p>Build A Social Media Presenc</p>
                    </div>
                  </a>
                      </li>
                      <li>
                    <a class="dropdown-item" routerLink="reputation-management">
                    <span><i class="fa-solid fa-ranking-star"></i></span>
                    <div class="item_info">
                      <h6>Reputation Management</h6>
                      <p>Keep Your Reputation Clean</p>
                    </div>
                  </a>
                    </li>
                    <li>
                      <a class="dropdown-item" routerLink="branding-logo">
                      <span><i class="fa-solid fa-file-pen"></i></span>
                        <div class="item_info">
                          <h6>Branding & Logo</h6>
                          <p>Complete Branding For Rebranding</p>
                        </div>
                      </a>
                      </li>
                      <li>
                      <a class="dropdown-item" routerLink="website-hosting">
                      <span><i class="fa-solid fa-people-roof"></i></span>
                      <div class="item_info">
                        <h6>Website Hosting</h6>
                        <p>Host Your Website On Our Service</p>
                      </div>
                    </a>
                      </li>
                      <li>
                    <a class="dropdown-item" routerLink="web-support">
                    <span><i class="fa-solid fa-envelope-open-text"></i></span>
                    <div class="item_info">
                      <h6>Web Support</h6>
                      <p>Support In Running Your Website</p>
                    </div>
                  </a>
                      </li>
                      <li>
                    <a class="dropdown-item" routerLink="local-seo">
                    <span><i class="fa-solid fa-map-location-dot"></i></span>
                    <div class="item_info">
                      <h6>Local Map SEO</h6>
                      <p>Renk Online In Your Area</p>
                    </div>
                  </a>
                    </li>
                  </div>

            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Web Design
            </a>
            <div class="dropdown-menu container" aria-labelledby="navbarDropdown">
                  <div class="dropdown_nav">
                    <li>
                      <a class="dropdown-item" routerLink="word-press">
                      <span><i class="fa-brands fa-searchengin"></i></span>
                        <div class="item_info">
                          <h6>Wordpress</h6>
                          <p>Build A Website On Wordpress</p>
                        </div>
                      </a>
                      </li>
                      <li>
                      <a class="dropdown-item" routerLink="woo-commerce">
                      <span><i class="fa-solid fa-rectangle-ad"></i></span>
                      <div class="item_info">
                        <h6>WooCommerce</h6>
                        <p>Custom Stores On WooCommerce</p>
                      </div>
                    </a>
                      </li>
                      <li>
                    <a class="dropdown-item" routerLink="shopify">
                    <span><i class="fa-solid fa-at"></i></span>
                    <div class="item_info">
                      <h6>Shopify</h6>
                      <p>Shopify Store That Are Robust</p>
                    </div>
                  </a>
                      </li>
                      <li>
                    <a class="dropdown-item" routerLink="wix-developer">
                    <span><i class="fa-solid fa-ranking-star"></i></span>
                    <div class="item_info">
                      <h6>Wix Developer</h6>
                      <p>Website That Are Easy To Manage</p>
                    </div>
                  </a>
                    </li>
                    <li>
                      <a class="dropdown-item" routerLink="magento">
                      <span><i class="fa-solid fa-file-pen"></i></span>
                        <div class="item_info">
                          <h6>Magento</h6>
                          <p>Complete Magento Websites</p>
                        </div>
                      </a>
                      </li>
                      <li>
                      <a class="dropdown-item" routerLink="square-space">
                      <span><i class="fa-solid fa-people-roof"></i></span>
                      <div class="item_info">
                        <h6>Square Space</h6>
                        <p>Your Own Website on Squarespace</p>
                      </div>
                    </a>
                      </li>
                      <li>
                    <a class="dropdown-item" routerLink="big-commerce">
                    <span><i class="fa-solid fa-envelope-open-text"></i></span>
                    <div class="item_info">
                      <h6>Big Commerce</h6>
                      <p>Top Level eCommerce Stores</p>
                    </div>
                  </a>
                      </li>
                      <li>
                    <a class="dropdown-item" routerLink="drupal">
                    <span><i class="fa-solid fa-map-location-dot"></i></span>
                    <div class="item_info">
                      <h6>Drupal</h6>
                      <p>Drupal Development Service</p>
                    </div>
                  </a>
                    </li>
                    <li>
                      <a class="dropdown-item"  routerLink="joomla">
                      <span><i class="fa-solid fa-people-roof"></i></span>
                      <div class="item_info">
                        <h6>Joomla</h6>
                        <p>The Experts in Joomla Development</p>
                      </div>
                    </a>
                      </li>
                      <li>
                    <a class="dropdown-item" routerLink="hubspot">
                    <span><i class="fa-solid fa-envelope-open-text"></i></span>
                    <div class="item_info">
                      <h6>Hubspot</h6>
                      <p>Hubspot API, Websites & Apps </p>
                    </div>
                  </a>
                      </li>
                      <li>
                    <a class="dropdown-item" routerLink="Os-Commerce">
                    <span><i class="fa-solid fa-map-location-dot"></i></span>
                    <div class="item_info">
                      <h6>Os Commerce</h6>
                      <p>Online Stores That are Scalable</p>
                    </div>
                  </a>
                    </li>
                    <li>
                      <a class="dropdown-item" routerLink="prestashop">
                      <span><i class="fa-solid fa-map-location-dot"></i></span>
                      <div class="item_info">
                        <h6>Prestashop</h6>
                        <p>eCommerce Development Service</p>
                      </div>
                    </a>
                      </li>

                  </div>

            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/about">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/case-study">Case Study</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/our-project">Our Project</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/blogs">Blogs</a>
          </li>
        </ul>
          <a routerLink="/contact" class="btn btn_brand">Get Started</a>
      </div>
    </div>
  </nav>
</header>
