.section_projects{
  .dateFilter{
    width: 500px;
    text-align: right;
    margin-left: auto;
    position: absolute;
    overflow-x: hidden;
    padding: 0;
    height: 673px;
    right: 10px;
    top: -53px;
    > button{
      width: 100%;
    }
  .project_filter_nav{
    display: flex;
    flex-flow: column;
    z-index: 9999999;
    margin-top: 12px;
    background: linear-gradient(237.31deg, #6979FE 0%, #9F68FB) !important;
    height: 616px;
    overflow-y: auto;
    position: absolute;
    top: 40px;
    right: -100%;
    width: 100%;
    transition: .2s;
    &.is_checked{
      right: 0;
    }
      &::-webkit-scrollbar {
        width: 2px;
      }
      &::-webkit-scrollbar-track {
        background: #6979FE ;
      }
      &::-webkit-scrollbar-thumb {
        background: #9F68FB;
      }
      &::-webkit-scrollbar-thumb:hover {
        background: #555;
      }
    .filter_search{
      position: relative;
       input{
        border-radius: 0;
        border: 2px solid #6979FE;
        padding-right: 45px;
        &:focus{
          outline: none;
          box-shadow: none;
        }
       }
       button{
        position: absolute;
        right: 0;
        top: 2px;
        width: 41px;
        height: 91%;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        background:  linear-gradient(237.31deg, #6979FE 0%, #9F68FB) !important;
        i{
          color: #E7E7E7;
        }
      }
    }
    .filter_link{
      background-color: transparent ;
      border: none;
      padding: 10px 15px;
      min-width: 100%;
      color: white;
      font-weight: 600;
      text-align: left;
      &.is_checked{
        background: linear-gradient(180deg, #FFFFFF 0%, #E7E7E7 0%) !important;
        color: #4d4d4d;
      }
      &:hover{
        background: linear-gradient(180deg, #FFFFFF 0%, #E7E7E7 0%) !important;
        color: #4d4d4d;
      }
      &:last-of-type{
        margin-right: 0;
      }
    }
  }
}

  .project_filter_data {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    overflow-y: auto;
    &::-webkit-scrollbar {
      width: 2px;
    }
    &::-webkit-scrollbar-track {
      background: #9F68FB;
    }
    &::-webkit-scrollbar-thumb {
      background: #6979FE;
    }
    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
    .project_item {
      width: 100%;
      margin-bottom: 15px;
      padding: 10px;
      box-sizing: border-box;
      background: white;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      position: relative;
      transition: all .5s;
      overflow: hidden;
      border-top-left-radius: 9px;
      border-top-right-radius: 9px;
      &:hover{
        .case_Info{
          bottom: 0;
        }
      }

      .case_thumb{
        width: 100%;
        height: 220px;
        img{
         width: 100%;
         height: 100%;
         object-fit: cover;
         object-position: top;
         border-top-left-radius: 9px;
         border-top-right-radius: 9px;
        }
      }
      .case_Info{
        position: absolute;
        bottom: -100%;
        right: 0;
        height: fit-content;
        background: white;
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 12px 25px;
        transition: all .5s;
        h3{
          font-size: 17px;
          font-weight: 900;
          color: #4d4d4d;
        }
      > a{
        margin-top: 10px;
        color: #4d4d4d;
        font-weight: 700;
        font-size: 14px;
      }
        }
    }
  }
}

// .dateFilter{
//   position: absolute;
//   top: -113px;
//   right: 0;
//   width: fit-content;
//   text-align: right;
//   .DateFiltreNav{
//     display: flex;
//     flex-flow: column;
//     z-index: 9999999;
//     position: relative;
//     background: linear-gradient(237.31deg, #7BCD75 0%, #77C1C4) !important;
//     button{
//       border: 1px solid transparent;
//       text-align: left;
//       padding: 7px 15px;
//       background: transparent;
//       &:hover{
//         background: linear-gradient(180deg, #FFFFFF 0%, #E7E7E7 0%) !important;
//       }
//     }
//   }
// }
