.section_services{
    .card{
        border-radius: 0 !important;
        border: none;
        margin-bottom: 20px;
        img{
            border-radius: 0 !important;
        }
        h4{
            color: #4d4d4d;
        }
        hr{
            margin: 10px 0;
        }
        p{
            font-size: 13px;
            color: #4d4d4d;
        }
        a{
            padding: 0 20px;
            margin-bottom: 10px;
            color: #4d4d4d;
            font-weight: 700;
            font-size: 14px;
        }
    }
}