<section class="section_services section_bg section">
     <div class="container">
        <h2 class="mb-2">Our Services</h2>
        <p class="mb-3">Support is only a click away. Find out more about how Digital Engage can help you.</p>
        <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <img src="../../../../assets/images/site-images/about.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h4 class="card-title">Card title</h4>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          
                        </div>
                        <hr>
                        <a href="">Read More ⟶</a>
                      </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img src="../../../../assets/images/site-images/about.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h4 class="card-title">Card title</h4>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          
                        </div>
                        <hr>
                        <a href="">Read More ⟶</a>
                      </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img src="../../../../assets/images/site-images/about.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h4 class="card-title">Card title</h4>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          
                        </div>
                        <hr>
                        <a href="">Read More ⟶</a>
                      </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img src="../../../../assets/images/site-images/about.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h4 class="card-title">Card title</h4>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          
                        </div>
                        <hr>
                        <a href="">Read More ⟶</a>
                      </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img src="../../../../assets/images/site-images/about.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h4 class="card-title">Card title</h4>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          
                        </div>
                        <hr>
                        <a href="">Read More ⟶</a>
                      </div>
                </div>
        </div>
     </div>
</section>