<section class="section_services section_bg section">
  <div class="container">
    <h2 class="mb-2">Our Services</h2>
    <p class="mb-3">Support is only a click away. Find out more about how Digital Engage can help you.</p>
    <div class="row mt-md-5 mt-4">
      <div class="col-md-4" *ngFor="let card of servicesCards">
        <div class="card">
          <img [src]="card.imgSrc" class="card-img-top" alt="...">
          <div class="card-body">
            <h4 class="card-title">{{ card.title }}</h4>
            <p class="card-text">{{ card.text }}</p>
          </div>
          <hr>
          <!-- Dynamically link to the details page based on the card's id -->
          <a [routerLink]="['/services-details', card.id]">Read More ⟶</a>
        </div>
      </div>
    </div>
  </div>
</section>
