<section class="section_contact bg_banner">
  <app-banner-section></app-banner-section>
</section>
 <div class="container pt-80">
  <div class="row">
    <h2 class="mb-2">Why Choose IT-Pixel?</h2>
  </div>
 </div>
<app-accordians></app-accordians>
<app-services></app-services>
<section class="section_two_column section bg_linear">
  <div class="container">
    <!-- <h2 class="mb-2">Our Projects</h2>
    <p class="mb-3">We're proud of the work we put in for our clients. Take a look at what these previous results could look like for you.</p> -->
     <div class="row">
      <div class="col-md-7">
        <h2 class="mb-2 text-white">Try Our Market Analysis and SEO ROI Report!</h2>
        <p class="mb-3 text-white">Business owners and C-suite executives need data to make educated decisions on where and how to spend their marketing dollars. Unfortunately, most businesses hear from their SEO agency that “it’s impossible to project the time it takes to rank” and “its impossible to estimate the total cost to rank”.</p>
        <p class="mb-3 text-white">At Helium SEO, we believe that every decision should be backed by data, which is why we highly recommend our paid SEO viability audit. In the audit, we tell you how many articles you’ll need to write, the likely MRR/ROI, the amount of backlinks you’ll need, and you’ll know the days and dollars required to make your goals happen. Lastly, you’ll get a snapshot of the organic competition and you’ll see how many articles and backlinks they have for their keyword clusters. If you’ve got big goals, you should start here.</p>
        <button class="btn btn_outline mt-md-4 mt-3 col-md-6">Schedule a Free Consultation </button>
      </div>
      <div class="col-md-5"><img class="img-fluid" src="../../../../assets/images/site-images/Demo-ROI-Graphic.jpg" alt=""></div>
      <div class="col-md-5 mt-5"><img class="img-fluid" src="../../../../assets/images/site-images/Cincinnati-Office-Group-web.png" alt=""></div>
      <div class="col-md-7 mt-5">
        <h2 class="mb-2 text-white">Meet the Helium team for your SEO campaign</h2>
        <p class="mb-3 text-white">At Helium SEO, we believe that clients should communicate with industry experts instead, which is why all of our points of contact are absolute SEO Pros.</p>
        <p class="mb-3 text-white">At Helium SEO, we believe that clients should communicate with industry experts instead, which is why all of our points of contact are absolute SEO Pros.s</p>
      </div>
    </div>
  </div>
</section>
<section class="section section-media-card">
  <div class="container">
     <h2 class="mb-2 text-center">See the results for yourself.</h2>
    <div class="row mt-5">
      <div class="col-md-4">
        <div class="card card-result text-white">
          <img src="../../../../assets/images/site-images/result-1.jpg" class="card-img-top" alt="...">
          <div class="card-body">
           <h5 class="mt-2">Sell Your Mac</h5>
            <h3 class="mt-3">216% Increase in Organic Traffics</h3>
            <p class="mt-3">Increased value of organic visitors from $44,047 to $70,239. We helped increase their organic traffic from 18,471 visitors/month to 40,052 visitors/month.</p>
            <button class="btn btn_brand mt-3">Learn More</button>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card card-result">
          <img src="../../../../assets/images/site-images/result-2.jpg" class="card-img-top" alt="...">
          <div class="card-body">
           <h5 class="mt-2">Sell Your Mac</h5>
            <h3 class="mt-3">216% Increase in Organic Traffics</h3>
            <p class="mt-3">Increased value of organic visitors from $44,047 to $70,239. We helped increase their organic traffic from 18,471 visitors/month to 40,052 visitors/month.</p>
            <button class="btn btn_brand mt-3">Learn More</button>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card card-result">
          <img src="../../../../assets/images/site-images/result-3.jpg" class="card-img-top" alt="...">
          <div class="card-body">
           <h5 class="mt-2">Sell Your Mac</h5>
            <h3 class="mt-3">216% Increase in Organic Traffics</h3>
            <p class="mt-3">Increased value of organic visitors from $44,047 to $70,239. We helped increase their organic traffic from 18,471 visitors/month to 40,052 visitors/month.</p>
            <button class="btn btn_brand mt-3">Learn More</button>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
<app-testimonials></app-testimonials>

